[Unit]
Description=Initialize Ansible Tower
After=network.service
[Service]
Type=oneshot
EnvironmentFile=/container.env.vars
ExecStart=/bin/initialize-tower.sh
[Install]
WantedBy=multi-user.target
